etc/*.pem
etc/*.tar
0_load_images/images/*.tar*
5_jenkins_demo/.classpath
5_jenkins_demo/.project
5_jenkins_demo/.settings
5_jenkins_demo/target/*
8_spring_demo/.classpath
8_spring_demo/.project
8_spring_demo/.settings
8_spring_demo/target/*
